<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashok.simplereader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.PostListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PostDetailActivity"
            android:label="@string/title_post_detail"
            android:parentActivityName=".ui.PostListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ashok.simplereader.ui.PostListActivity" />
        </activity>
        <activity android:name=".ui.LoginActivity" />

        <meta-data
            android:name="net.dean.jraw.REDDIT_USERNAME"
            android:value="ashokgujju" />

        <activity
            android:name=".ui.SearchForSubredditsActivity"
            android:label=""
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.ManageSubredditsActivity"
            android:label="@string/manage_subreddits" />

        <service
            android:name=".sync.PostIntentService"
            android:exported="false" />

        <provider
            android:name="com.ashok.simplereader.data.generated.PostProvider"
            android:authorities="com.ashok.simplereader.data.PostProvider"
            android:exported="false" />
    </application>

</manifest>